
<!-- Show Discount From Enum -->
<div
  class="bg-success"
  style="
    height: 60px;
    padding: 20px;
    margin-top: 50px;
    margin: 20px;
    color: aliceblue;
    font-size: 20px;
  "
>
  We are Offers Discount {{ discount }} in all Devises
</div>

<!-- show Data from Interface -->
<!-- <div class='dropdown' style="margin: 20px" >
        <select #val (change) = 'changeCat(val.value)' class="form-control">
            <option  [value] = 'item.ID' *ngFor="let item of categoryList" > {{item.name}} 
                
            </option>
        </select>
    </div> -->

<!-- Moving this div in parent component called OrderList -->
<!-- <div class='' style="margin: 20px">
        <label for="prdCat" class="form-label">Category:</label>
        <select class="form-control" name="cat" id="prdCat" [(ngModel)]="selectedCatID" (change) = 'prodFiltered()'>
            <option value='0' selected> All Categories </option>
            <option *ngFor="let cat of categoryList" [value]="cat.ID">{{cat.name}}</option>
          </select>
    </div> -->

<table class="table" *ngIf="displayTable">
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Quantity</td>
    <td>Price</td>
    <td>Image</td>
    <td>Category</td>
    <td>Button to Buy</td>
    <td>Button to show Details</td>
  </tr>

  <!-- <tr *ngFor="let item of filtered">   ==== USing div with class dropdown and make select is Comment -->
  <!-- <tr *ngFor="let item of prodList" [hidden]='item.ID != selectedCatID' [hidden]='item.quantity == 0' [ngStyle] = "{'background-color' : item.quantity==1 ? 'yellow' : 'lightgray'}" >    -->

  <!-- the abouvius tr is used with select tag -->
  <tr
    *ngFor="let item of prodListMatchCategID"
    [hidden]="item.quantity == 0"
    [ngStyle]="{
      'background-color': item.quantity == 1 ? 'yellow' : 'lightgray'
    }"
  >
  
    <!-- the abouvius tr is used with select tag and using to makeforLoop in new array that called prodMatchCategID which contains filtered prod by categID -->
    <td></td>
    <td>{{ item.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price }}</td>
    <td><img [src]="item.imageURL" width="200px" height="150px" /></td>
    <td>{{ item.categoryID }}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="buyProduct()">
        Buy
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-primary" [routerLink]="['/Products' , item.ID]">
        Show Details
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-primary" [routerLink]="['/EditProduct']">
        Edit
      </button>
    </td>
  </tr>
</table>

<div class="box-pro">
  <h2>Our Product</h2>
</div>



