<div class="bg-secondary header">Great Website for Shopping</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <img src="assets/logo.png" alt="logo" width="80px" height="50px" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link ms-8" aria-current="page" routerLink="/Home" routerLinkActive="active"> Home</a>
          <a class="nav-link" routerLink="/Products" routerLinkActive="active"> Products Table</a>
          <a class="nav-link" routerLink="/ProdDet" routerLinkActive="active"> Products Dtails</a>
          <a class="nav-link" routerLink="/ProdCard" routerLinkActive="active">Products Cards</a>
          <a class="nav-link" routerLink="/Log" routerLinkActive="active"> LogIn</a>
        </div>
      </div>
    </div>
  </nav>
