<div class="bg-secondary header">Great Website for Shopping</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <img src="assets/logo.png" alt="logo" width="80px" height="50px" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link ms-8" aria-current="page" routerLink="/Home" routerLinkActive="active"> Home</a>
          <a class="nav-link" routerLink="/Products" routerLinkActive="active"> Products Table</a>
          <a class="nav-link" routerLink="/ProdDet" routerLinkActive="active"> Products Dtails</a>
          <a class="nav-link" routerLink="/ProdCard" routerLinkActive="active">Products Cards</a>
          <a class="nav-link" routerLink="/Log" routerLinkActive="active"> LogIn</a>
          <a class="nav-link" routerLink="/Log" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="logOut()"> Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="bg-secondary" *ngIf="isUser">
    <h2>Hello Dear {{uName}} </h2>
  </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You sure to logout...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" >Logout</button>
      </div>
    </div>
  </div>
</div>
