<div class="img-product">
  <div>
    <img src="assets/fir.jpg" alt="first product" />
    <h3>{{ firstProductInfo.Name }}</h3>
  </div>
  <div>
    <img src="assets/second.jpg" alt="Second product" />
    <h3>{{ secProdIcfo.Name }}</h3>
  </div>
  <div>
    <img src="assets/camera.jpeg" alt="first product" />
    <h3>{{ thirdProdInfo.Name }}</h3>
  </div>
</div>


<!-- show img from class product Data -->
<div class="img-pprod">
  
  <!-- <img src="{{firstProductInfo.logoURL}}" alt="product-img" > -->
  <!-- binding -->
  <img [src]="firstProductInfo.logoURL" alt="product-img" />
  <h4>Our Branches:</h4>
  <ul>
    <li *ngFor="let branch of firstProductInfo.Branches">
      {{ branch }}
    </li>
  </ul>
</div>
