<div class="img-product">
  <div>
    <img src="assets/fir.jpg" alt="first product" class="img-fluid" />
    <h3>{{ firstProductInfo.Name }}</h3>
  </div>
  <div>
    <img src="assets/second.jpg" alt="Second product"class="img-fluid" />
    <h3>{{ secProdIcfo.Name }}</h3>
  </div>
  <div>
    <img src="assets/camera.jpeg" alt="first product" class="img-fluid" />
    <h3>{{ thirdProdInfo.Name }}</h3>
  </div>
</div>


<!-- show img from class product Data -->
<div class="img-pprod">
  
  <!-- <img src="{{firstProductInfo.logoURL}}" alt="product-img" class="img-fluid" > -->
  <!-- binding -->
  <img [src]="firstProductInfo.logoURL" alt="product-img" class="img-fluid" />
  <h4>Our Branches:</h4>
  <ul>
    <li *ngFor="let branch of firstProductInfo.Branches">
      {{ branch }}
    </li>
  </ul>
</div>

<!-- Pipe Data -->

<div class="pipe">
  <input #val class='form-control' placeholder="Enter tour ID Number" />
<button class="btn-success" (click)="getBirthDayFromID(val.value)"> Get Birthdate</button>
<span  birthdayFromID>Birthday: {{year | birthdayFromID }} </span>


<input #credvVal class='form-control' placeholder="Enter tour Credit Number" />
<button class="btn-success" (click)="formatCreditNum(credvVal.value)"> Get Credit format</button>
<span  birthdayFromID> FormatNum {{cardFormatNum | CreditCardSplice }} </span>

</div>